html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

#app {
  background: #000000;
  width: 100vw;
  height: 100vh;
}

.apple {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  background: #e91e63;
  position: absolute;
}

.snake {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  background: #ffffff;
  position: absolute;
}
